body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.widgets {
    position: absolute;
    /*background-color: aquamarine;*/
    width: 25%;
    height: 20%;
    border-radius: 10px;
    padding: 10px;
}

#weather {
    width: 30%;
    height: 15%;
    top: 1.5%;
    right: 1.5%;
} 

#clock {
    height: 10%;
    top: 1.5%;
    left: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  /* left-aligned text */
    padding-left: 20px;
}

#clockDate {
    font-size: 18px;
    opacity: 0.7;
    letter-spacing: 1px;
}

#clockTime {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 5px;
}

#dailyQuote {
    width: 25%;
    height: 8%;
    top: 15%;
    left: 1.5%;
}

#activity {
    bottom: 1.5%;
    left: 1.5%;
}

#calendar {
    width: 35%;
    bottom: 1.5%;
    left: 31.5%;
}

#toDo {
    bottom: 1.5%;
    right: 1.5%;
}