body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 25% 1fr 30%;
  grid-template-rows: 12% 1fr 20%;
  gap: 1.5%;
  padding: 1.5%;

  box-sizing: border-box;
}

.widgets {
  border-radius: 10px;
  padding: 1%;
  box-sizing: border-box;
}

#leftColumn {
  grid-column: 1;
  grid-row: 1 / span 2;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#clockDate {
  font-size: 18px;
  opacity: 0.7;
  letter-spacing: 1px;

  padding-left: 2%;
  white-space: pre-line;
}

#clockTime {
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 300;
  letter-spacing: 2px;

  margin-top: 5px;
}

#dailyQuote {
  align-self: start;
  min-height: 8%;
  padding-left: 3%;
}

#clock,
#dailyQuote {
  grid-column: auto;
  grid-row: auto;
}

#weather {
  grid-column: 3;
  grid-row: 1;
}

#activity {
  grid-column: 1;
  grid-row: 3;
}

#calendar {
  grid-column: 2;
  grid-row: 3;
}

#toDo {
  grid-column: 3;
  grid-row: 3;
}
