# Secret keys / environment variables
.env
.env.local
.env.*.local

# Node stuff, if you add a server later
node_modules/

# Logs
*.log

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/

# Dummy Data
todo.json
calendar.json
activity.json